@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br>

<h3>Anonymity</h3>
<p>The speech collector ensures full anonynimity and protects a user's identity by discarding metadata such as <b>location, identifiers, email, phone number etc..</b></p>

<br>

<h3>User Consent</h3>
<p>Prior to accessing the speech collector, users <b>MUST</b> fill a consent form. A user who hasn't filled a consent form will not be authentificated to use the application.</p>

<br>

<h3>Secure Storage</h3>
<p>The application makes use of standard UNIX encryption methods to protect data at rest and ensures that access controls are in place to restrict who can access the database.</p>

<br>

<h3>Usage of Speech Data</h3>
<p>Speech data provided by users are loaded as samples for a speech recognition dataset. The dataset is manually annotated by transribing phonemes mapped from the speech audio. The training of a deep neural network is conducted to predict the cause of mispronunciations if occured.</p>
